os:
  - linux
language: go
env:
  GO111MODULE=on
go:
  - 1.13.x
  - 1.14.x
  - 1.15.x
  - master
jobs:
  allow_failures:
    - go: master
  fast_finish: true
before_install:
  - go get github.com/mattn/goveralls
script:
  - travis_retry go test -v -covermode=count -coverprofile=coverage.out
  - travis_retry go vet ./...
  - travis_retry $HOME/gopath/bin/goveralls  -coverprofile=coverage.out -service=travis-ci
